{% extends "home/home.html" %}
{% block css %}
    <style>
        .col-md-9, .col-md-12, .form-group, .panel-heading, .panel-body, .panel-title, . {
            padding-right: 3px;
            padding-left: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "home/menu.html" %}

    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
            </div>
            <div class="panel-body">
                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                    <p style="color:red">{{ msg }}</p>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                    <p style="color:green">{{ msg }}</p>
                {% endfor %}
                <form role="form" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <label for="input_name"><span class="glyphicon glyphicon-user"></span>{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                         {% for err in form.name.errors %}
                                <div class="col-md-12">
                                    <span style="color:red">{{ err }}</span>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.enmil.label }}</label>
                            {{ form.enmil }}
                        </div>
                         {% for err in form.enmil.errors %}
                                <div class="col-md-12">
                                    <span style="color:red">{{ err }}</span>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <label for="input_phone"><span class="glyphicon glyphicon-phone"></span>&nbsp;{{ form.phone.label }}</label>
                            {{ form.phone }}
                        </div>
                        {% for err in form.phone.errors %}
                                <div class="col-md-12">
                                    <span style="color:red">{{ err }}</span>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <label for="input_face"><span class="glyphicon glyphicon-picture"></span>&nbsp;{{ form.face.label }}</label>
                            {{ form.face }}
                            {% if user.face %}
                             <img src="{{ url_for('static',filename='uploads/user/'+user.face) }}" class="img-responsive img-rounded" style="width:100px">
                            {% else %}
                            <img data-src="holder.js/100x100" class="img-responsive img-rounded">
                            {% endif %}
                        </div>
                        {% for err in form.face.errors %}
                                <div class="col-md-12">
                                    <span style="color:red">{{ err }}</span>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <label for="input_info"><span class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label }}</label>
                            {{ form.info }}
                        </div>
                        {% for err in form.info.errors %}
                                <div class="col-md-12">
                                    <span style="color:red">{{ err }}</span>
                                </div>
                        {% endfor %}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m-1").addClass("active");
        })
    </script>
{% endblock %}